:root {
    --linkHoverColor: #686868;
    --footer-text-color: #DAD6D6;
    --footer-hover-color: #686868;
    --footer-gap: 1rem;
    --footer-padding-y: 2rem;
    --sep-nudge: 0.10em;
    --headerTextColor: #DAD6D6;
    --header-gap: 3rem;
    --header-padding-y: 2rem;
}
* {

    font-family: Arial, Helvetica, sans-serif;
    color: #1C1D21;
    margin: auto 0;
    text-decoration: none;
    box-sizing: border-box;
}



body {
    background-color: white;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}

main {
    margin: 0 auto;
    text-align: left;
    max-width: 100vw;
    width: 100%;
    background-color: #DAD6D6;
    flex: 1;
    color: #1C1D21;
    padding: 1rem;

}

h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold',serif;
    padding: 10px;
    text-align: left;
}
h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
}


.profile-picture img{
    max-width: 100%;
    border-radius: 20%;
    margin: 20px;
    transform: rotate(90deg);
}
.profile-picture {
    margin-left: 20px;
    font-style: italic;
    font-size: 80%;
    width: 200px;
    max-width: 20%;
    text-align: center;
}

a:hover {
    color: var(--linkHoverColor);
    transition: color 0.3s ease;
}
.crap-list ul {
    padding: 0.5rem 2rem;
}
.crap-list p {
    padding: 1rem;
}
.crap-list {
    padding: 1rem;
}



/* HEADER STYLES */

header {
    color: var(--headerTextColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1C1D21;
    padding: 1%;
    text-align: center;
    max-width: 100vw;
}
header h1 {
    color: var(--headerTextColor);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold',serif;
}
.header-links {
    background-color: #2A2B30;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 1rem;
    gap: var(--header-gap);
    max-width: 100vw;
    border-radius: 10px;
}
.header-links li {
    display: flex;
    align-items: center;
    line-height: 1;
}

.header-links a {
    color: var(--headerTextColor);
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s ease;
    line-height: 1;
    padding: 0.25rem 0;
    text-align: center;
}
.header-links a:hover {
    color: var(--linkHoverColor);
}
/* FOOTER STYLES */


.footer {
    padding: var(--footer-padding-y) 0;
    color: var(--footer-text-color);
    width: 100vw;
    margin: 0 auto;
    background-color: #1C1D21;
    text-align: center;
    display: flex;
}

.footer p,
.footer-links {
    color: inherit;
}

.footer-links {
    justify-content: center;
    list-style: none;
    align-items: center;
    margin: 0 auto;
    padding: 0;
}
.footer-links li {
    padding: 1rem 0;
    color: var(--footer-text-color);
}
.footer-links a {
    color: var(--footer-text-color);
    font-weight: 700;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: var(--footer-hover-color);
}



@media (min-width: 768px) { /* Adjusted for tablet */

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: var(--footer-padding-y) 10px;
        color: var(--footer-text-color);


    }

    .footer p,
    .footer-links {
        color: inherit;
        margin: 0;
    }

    .footer-links {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        list-style: none;

        gap: 1rem;
    }
    
    .footer-links li:has(p) {
        width: 100%;
        justify-content: center;
    }

    .footer-links li {
        display: flex;
        align-items: center;
        line-height: 1;
        padding: 0;
    }

    .footer-links a {
        color: var(--footer-text-color);
        text-decoration: none;
        font-weight: 700;
        transition: color 0.3s ease;
        line-height: 1;
        padding: 0.25rem 0;
        text-align: center;
    }

    .footer-links a:hover {
        color: var(--footer-hover-color);
    }


}

@media (min-width: 992px) { /* Adjusted for desktop */
    main {
        max-width: 1200px;
        margin: 0 auto;
    }
}