:root {
    --linkHoverColor: #686868;
}
* {
    font-family: Arial, Helvetica, sans-serif;
    color: #1C1D21;
    margin: auto 0;
    text-decoration: none;
}

body {
    background-color: white;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    margin: 0 auto;
    text-align: left;
    max-width: 800px;
    width: 90%;
    background-color: #DAD6D6;
    flex: 1;
    padding: 1rem 1rem;
    color: #1C1D21;
}

h2, h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold',serif;
    padding: 10px;
    text-align: left;
}
h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
}


.profile-picture img{
    max-width: 100%;
    border-radius: 20%;
    margin: 20px;
    transform: rotate(90deg);
}
.profile-picture {
    margin-left: 20px;
    font-style: italic;
    font-size: 80%;
    width: 200px;
    max-width: 20%;
    text-align: center;
}

a:hover {
    color: var(--linkHoverColor);
    transition: color 0.3s ease;
}
.crap-list ul {
    padding: 0.5rem 2rem;
}
.crap-list p {
    padding: 1rem;
}
.crap-list {
    padding: 1rem;
}