
<header>
    <h1>Aidan McLain's Ambitious Monkey | ITIC3135</h1>
    <div class="header-container">
        <ul class="header-links">
            <li><a href="./index.html">Home</a></li>
            <li><a href="./contract.html">Contract</a></li>
            <li><a href="./fccfsjs_outline.html">FCC JavaScript Outline</a></li>
            <li><a href="./introduction.html">Introduction</a></li>
            <li><a href="./intro_forum.html">Introduction Page Form</a></li>
            <li><a href="ambitiousMonkey/">Ambitious Monkey</a></li>

        </ul>
        <ul class="header-links">
            <li><a href="./stuff/Webpage for making LOADS of $$$.htm">CRAPPY</a></li>
            <li><a href="./hobby/index.html">Hobby Page</a></li>
            <li><a href="./website_evaluations.html">Website Evaluations</a></li>
            <li><a href="https://amclai10-itis3135-react.vercel.app">React3</a></li>
            <li><a href="https://amclai10-itis3135-clientproject.vercel.app">Client Project</a></li>
        </ul>
    </div>
</header>